USE [master]
GO
/****** Object:  Database [XPOS]    Script Date: 30.03.2020 20:38:02 ******/
CREATE DATABASE [XPOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NitroMaster', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NitroMaster.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NitroMaster_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NitroMaster_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XPOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XPOS]
GO
/****** Object:  Table [dbo].[CUSTOMER_ADRESS]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_ADRESS](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NOT NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[TYPE] [smallint] NULL,
	[CUSTOMER] [nvarchar](25) NULL,
	[ADRESS] [nvarchar](500) NULL,
	[ZIPCODE] [nvarchar](10) NULL,
	[CITY] [nvarchar](25) NULL,
	[COUNTRY] [nvarchar](3) NULL,
 CONSTRAINT [PK_CUSTOMER_ADRESS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_GROUP]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_GROUP](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[CODE] [nvarchar](25) NULL,
	[NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_CUSTOMER_GROUP] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[CODE] [nvarchar](25) NULL,
	[TYPE] [smallint] NULL,
	[GENUS] [smallint] NULL,
	[NAME] [nvarchar](100) NULL,
	[LAST_NAME] [nvarchar](100) NULL,
	[COMPANY] [nvarchar](100) NULL,
	[CUSTOMER_GRP] [nvarchar](25) NULL,
	[PHONE1] [nvarchar](20) NULL,
	[PHONE2] [nvarchar](20) NULL,
	[GSM_PHONE] [nvarchar](20) NULL,
	[OTHER_PHONE] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[WEB] [nvarchar](100) NULL,
	[NOTE] [nvarchar](max) NULL,
	[SIRET_ID] [nvarchar](20) NULL,
	[APE_CODE] [nvarchar](10) NULL,
	[TAX_OFFICE] [nvarchar](25) NULL,
	[TAX_NO] [nvarchar](30) NULL,
	[INT_VAT_NO] [nvarchar](30) NULL,
	[TAX_TYPE] [smallint] NULL,
 CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPOT]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPOT](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[TYPE] [int] NULL,
	[CODE] [nvarchar](25) NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_DEPOT] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_BARCODE]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_BARCODE](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[ITEM_CODE] [nvarchar](25) NULL,
	[BARCODE] [nvarchar](50) NULL,
	[UNIT] [uniqueidentifier] NULL,
	[TYPE] [int] NULL,
 CONSTRAINT [PK_ITEM_BARCODE] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_CUSTOMER]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_CUSTOMER](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[ITEM_CODE] [nvarchar](25) NULL,
	[CUSTOMER_CODE] [nvarchar](25) NULL,
	[CUSTOMER_ITEM_CODE] [nvarchar](25) NULL,
 CONSTRAINT [PK_ITEM_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_GROUP]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_GROUP](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[CODE] [nvarchar](25) NULL,
	[NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_ITEM_GROUP] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_PRICE]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_PRICE](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[ITEM_CODE] [nvarchar](25) NULL,
	[TYPE] [int] NULL,
	[DEPOT] [nvarchar](25) NULL,
	[START_DATE] [datetime] NULL,
	[FINISH_DATE] [datetime] NULL,
	[PRICE] [float] NULL,
	[CUSTOMER] [nvarchar](25) NULL,
 CONSTRAINT [PK_ITEMS_PRICES] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM_UNIT]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_UNIT](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[ITEM_CODE] [nvarchar](25) NULL,
	[TYPE] [int] NULL,
	[NAME] [nvarchar](50) NULL,
	[FACTOR] [float] NULL,
	[WEIGHT] [float] NULL,
	[VOLUME] [float] NULL,
	[WIDTH] [float] NULL,
	[HEIGHT] [float] NULL,
	[SIZE] [float] NULL,
 CONSTRAINT [PK_ITEMS_UNIT] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEMS]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEMS](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[CODE] [nvarchar](25) NULL,
	[NAME] [nvarchar](250) NULL,
	[SNAME] [nvarchar](20) NULL,
	[ITEM_GRP] [nvarchar](25) NULL,
	[TYPE] [int] NULL,
	[VAT] [float] NULL,
	[COST_PRICE] [float] NULL,
	[MIN_PRICE] [float] NULL,
	[MAX_PRICE] [float] NULL,
	[STATUS] [bit] NULL,
	[PLU] [bit] NULL,
 CONSTRAINT [PK_ITEMS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POS_PAYMENT]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_PAYMENT](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[DEPARTMENT] [int] NULL,
	[TYPE] [tinyint] NULL,
	[DOC_TYPE] [tinyint] NULL,
	[DOC_DATE] [datetime] NULL,
	[REF] [nvarchar](25) NULL,
	[REF_NO] [int] NULL,
	[LINE_NO] [int] NULL,
	[CUSTOMER_CODE] [nvarchar](25) NULL,
	[CASE_CODE] [nvarchar](25) NULL,
	[AMOUNT] [float] NULL,
	[CHANGE] [float] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_POS_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POS_SALES]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_SALES](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[DEPARTMENT] [int] NULL,
	[TYPE] [tinyint] NULL,
	[DOC_DATE] [datetime] NULL,
	[REF] [nvarchar](25) NULL,
	[REF_NO] [int] NULL,
	[LINE_NO] [int] NULL,
	[CUSTOMER_CODE] [nvarchar](25) NULL,
	[ITEM_CODE] [nvarchar](25) NULL,
	[BARCODE] [nvarchar](50) NULL,
	[QUANTITY] [float] NULL,
	[UNIT] [nvarchar](50) NULL,
	[PRICE] [float] NULL,
	[DISCOUNT] [float] NULL,
	[VAT] [float] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_POS_SALES] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 30.03.2020 20:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[GUID] [uniqueidentifier] NOT NULL,
	[CUSER] [nvarchar](25) NULL,
	[CDATE] [datetime] NULL,
	[LUSER] [nvarchar](25) NULL,
	[LDATE] [datetime] NULL,
	[CODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_TICKET] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER_ADRESS] ADD  CONSTRAINT [DF_CUSTOMER_ADRESS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[CUSTOMER_GROUP] ADD  CONSTRAINT [DF_CUSTOMER_GROUP_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[CUSTOMERS] ADD  CONSTRAINT [DF_CUSTOMERS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[DEPOT] ADD  CONSTRAINT [DF_DEPOT_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITEM_BARCODE] ADD  CONSTRAINT [DF_ITEM_BARCODE_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITEM_CUSTOMER] ADD  CONSTRAINT [DF_ITEM_CUSTOMER_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITEM_GROUP] ADD  CONSTRAINT [DF_ITEM_GROUP_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITEM_PRICE] ADD  CONSTRAINT [DF_ITEMS_PRICES_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITEM_UNIT] ADD  CONSTRAINT [DF_ITEMS_UNIT_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[ITEMS] ADD  CONSTRAINT [DF_ITEMS_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[POS_PAYMENT] ADD  CONSTRAINT [DF_POS_PAYMENT_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[POS_SALES] ADD  CONSTRAINT [DF_POS_SALES_GUID]  DEFAULT (newid()) FOR [GUID]
GO
ALTER TABLE [dbo].[TICKET] ADD  CONSTRAINT [DF_TICKET_GUID]  DEFAULT (newid()) FOR [GUID]
GO
USE [master]
GO
