<div class="col-12" ng-controller="CariListeCtrl" ng-init="Init()">
    <div class="page-header">
        <h1 class="page-title">CARİ LİSTESİ</h1>
        <div class="page-header-actions">
            <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" onclick="window.location.href = '#!Cari';">
                <i class="icon fa-file-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">
                            <div class="float-right">Kodu :</div>
                        </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control" autocomplete="off" ng-model="Kodu"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">
                            <div class="float-right">Adı :</div>
                        </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control" autocomplete="off" ng-model="Adi"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">
                            <div class="float-right">Tip :</div>
                        </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <select class="form-control" ng-model="Tip">
                                    <option value="0">Müşteri</option>    
                                    <option value="1">Tedarikçi</option> 
                                    <option value="0">Her İkisi</option>                             
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-2">
                    <select class="selectpicker form-control" multiple data-width="auto" title="" ng-model="Kolon" ng-change="KolonChange()">
                        <option value="CODE">CODE</option>
                        <option value="NAME">NAME</option>
                        <option value="GENUS">GENUS</option>
                        <option value="LAST_NAME">LAST_NAME</option>
                        <option value="COMPANY">COMPANY</option>
                        <option value="CUSTOMER_GRP">CUSTOMER_GRP</option>
                        <option value="PHONE1">PHONE1</option>
                        <option value="PHONE2">PHONE2</option>
                        <option value="GSM_PHONE">GSM_PHONE</option>
                        <option value="OTHER_PHONE">OTHER_PHONE</option>
                        <option value="EMAIL">EMAIL</option>
                        <option value="WEB">WEB</option>
                        <option value="SIRET_ID">SIRET_ID</option>
                        <option value="APE_CODE">APE_CODE</option>
                        <option value="TAX_OFFICE">TAX_OFFICE</option>
                        <option value="TAX_NO">TAX_NO</option>
                    </select>
                </div>
                <div class="col-md-2 offset-8">
                    <button class="btn btn-block btn-primary" ng-click="BtnAra()">
                        Ara
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="TblCari" class="jsgrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>