<div class="col-12" ng-controller="StokListeCtrl" ng-init="Init()">
    <div class="page-header">
        <h1 class="page-title">STOK LİSTESİ</h1>
    </div>
    
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <label class="col-md-1 form-control-label">
                            <div class="float-right">Barkod :</div>
                        </label>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" class="form-control" id="tokenfield" data-minWidth="0" ng-model="Barkod"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">                
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">
                            <div class="float-right">Adı :</div>
                        </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control" autocomplete="off" ng-model="Adi"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">
                            <div class="float-right">Ürün Grup :</div>
                        </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <select class="form-control" ng-model="Grup">
                                    <option value="">TÜMÜ</option>
                                    <option ng-repeat="option in GrupList" value="{{option.CODE}}">{{option.NAME}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 offset-10">
                    <div class="checkbox-custom checkbox-primary">
                        <input type="checkbox" id="inputChecked" checked="" ng-model="Durum"/>
                        <label for="inputChecked">Aktif</label>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-2">
                    <select class="selectpicker form-control" multiple data-width="auto" title="" ng-model="Kolon" ng-change="KolonChange()">
                        <option value="CODE">CODE</option>
                        <option value="NAME">NAME</option>
                        <option value="SNAME">SNAME</option>
                        <option value="ITEM_GRP">ITEM_GRP</option>
                        <option value="VAT">VAT</option>
                        <option value="COST_PRICE">COST_PRICE</option>
                        <option value="MIN_PRICE">MIN_PRICE</option>
                        <option value="MAX_PRICE">MAX_PRICE</option>
                        <option value="UNIT">UNIT</option>
                        <option value="BARCODE">BARCODE</option>
                        <option value="PRICE">PRICE</option>
                        <option value="CUSTOMER_ITEM_CODE">CUSTOMER_ITEM_CODE</option>
                    </select>
                </div>
                <div class="col-md-2 offset-8">
                    <button class="btn btn-block btn-primary" ng-click="BtnAra()">
                        Ara
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="TblStok" class="jsgrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#tokenfield').tokenfield()
</script>