<div class="col-12" ng-controller="EtiketBasimCtrl" ng-init="Init()">
    <div class="page-header">
        <h1 class="page-title">ETİKET BASIMI</h1>
        <div class="page-header-actions">
            <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip"
                ng-click="Init()">
                <i class="icon fa-file-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip"
                ng-click="Kaydet()">
                <i class="icon fa-save" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
        </div>
    </div>
</div>