<div class="col-12" ng-controller="FiyatListeYonetimiCtrl" ng-init="Init()">
    <div class="page-header">
        <h1 class="page-title" langu>FİYAT LİSTE YÖNETİMİ</h1>
        <div class="page-header-actions">
            <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" onclick="window.location.href = '#!Stok';">
                <i class="icon fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>    
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            <div class="float-right" langu>Kodu :</div>
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="tokenfield" data-minWidth="0" ng-model="Kodu"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            <div class="float-right" langu>Tedarikçi :</div>
                        </label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <select class="form-control" ng-model="Tedarikci">
                                    <option value="" langu>TÜMÜ</option>
                                    <option ng-repeat="option in TedarikciList" value="{{option.CODE}}">{{option.NAME}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">                
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            <div class="float-right" langu>Adı :</div>
                        </label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" autocomplete="off" ng-model="Adi" ng-keypress="TxtAra($event)"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            <div class="float-right" langu>Ürün Grup :</div>
                        </label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <select class="form-control" ng-model="Grup">
                                    <option value="" langu>TÜMÜ</option>
                                    <option ng-repeat="option in GrupList" value="{{option.CODE}}">{{option.NAME}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-2 offset-10">
                    <button class="btn btn-block btn-primary" ng-click="BtnAra()" langu>
                        Ara
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="TblFiyat"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#tokenfield').tokenfield({ delimiter: ' ' });
</script>