<!DOCTYPE html>
<html class="no-js css-menubar" lang="en" ng-app="app">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">      
      <!-- Tell the browser to be responsive to screen width -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
  
      <meta http-equiv="Content-Security-Policy" content="default-src gap://ready file://* *; style-src 'self' http://* https://* file://* 'unsafe-inline'; script-src 'self' http://* https://* file://* 'unsafe-inline' 'unsafe-eval'; img-src 'self' data: *">
      <meta name="format-detection" content="telephone=no">
      <meta name="msapplication-tap-highlight" content="no">

    <title>piqpos | Powered by PiqSoft</title>
    
    

    <link rel="apple-touch-icon" href="theme/base/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="theme/base/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="theme/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="theme/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="theme/base/assets/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="theme/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="theme/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="theme/base/assets/examples/css/pages/login-v3.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="theme/global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="theme/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
    <script src="theme/global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="theme/global/vendor/media-match/media.match.min.js"></script>
    <script src="theme/global/vendor/respond/respond.min.js"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="theme/global/vendor/breakpoints/breakpoints.js"></script>
    <script>
      Breakpoints();
    </script>
     <style>
      #loading 
      {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: fixed;
          display: block;
          opacity: 0.0;
          background-color: #fff;
          z-index: 99;
          text-align: center;
      }
  </style>
  </head>
  <body class="animaition page-login-v3 layout-full" ng-controller="Login" ng-init="Init()">
    <div id="loading" style="display:none;z-index: 1800;"></div>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Page -->
    <div id="alert-box">
      
    </div>
    <div class="modal fade" id="server-settings" aria-labelledby="server-settings"  role="dialog" tabindex="-1" >
      <div class="modal-dialog modal-simple">
        <div class="modal-content ">
          <div class="modal-header">          
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>                       
            </button>
            <h4 class="modal-title" id="server-settings" langu>Ayarlar</h4>                                    
          </div>                        
          <div class="modal-body">           
            <form>
              <div class=".col-sm-6 .col-lg-4 my--100">
                <p>{{ConnectionStatus}}</p>
              </div>              
              <div class="row">                               
                <div class="col-6 form-group">
                  <input type="text" class="form-control" name="server_adress" placeholder="Sunucu Adresi" id="server_adress" ng-model="server_adress">
                </div>
                <!-- <div class="col-xl-4 form-group">
                  <input type="text" class="form-control" name="server_port" placeholder="Sunucu Port" id="server_port" ng-model="server_port">
                </div> -->
                <div class="col-3 form-group">
                  <input type="text" class="form-control" name="socket_port" placeholder="Soket Port" id="socket_port" ng-model="socket_port">
                </div> 
                <div class="col-3 form-group">
                  <input type="text" class="form-control" name="device" placeholder="CihazID" id="device" ng-model="device">
                </div>
                <div class="col-xl-offset-12">
                  <a class="btn btn-primary" href="#" ng-click="BtnTryConnect()" langu>Bağlantı Test</a>                
                  <a class="btn btn-success" href="#" ng-click="HostSettingSave()" data-dismiss="modal" langu>Kaydet</a>   
                </div>           
              </div>
            </form>         
          </div>
        </div>
      </div>
    </div>
    <div class="page-content py-5" data-animsition-in="fade-in" data-animsition-out="fade-out"> 
      <div class="page-content animation-slide-top animation-duration-1 mx--20 py-0">
        <div class="panel modal-center"> 
          <div class="panel-body">
            <div class="brand">
                <!-- <img class="brand-img col-xl-5 offset-xl-3" src="img/logo.png" alt="..."> 
              <h2 class="brand-text font-size-18 col-xl-5 offset-xl-5">Nitro</h2>     -->
              <div class="btn-group float-right">
                  <button type="button" class="btn btn-primary dropdown-toggle" id="AnimationDropdown1" data-toggle="dropdown" aria-expanded="false" langu>İşlemler</button>
                  <div class="dropdown-menu dropdown-menu-right " aria-labelledby="AnimationDropdown1" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px;">                     
                      <a class="dropdown-item" href="#server-settings" data-toggle="modal" role="menuitem" langu>Ayarlar</a>
                      <a class="dropdown-item" href="app_update.html" role="menuitem" id="btn-appupdate" langu>Uygulamayı Güncelle</a> 
                  </div>
              </div>
            </div>
            <form>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="select" langu>Dil Seçimi</label>
                <select class="form-control" ng-change = "CmbLang()" ng-model="Lang">
                  <option value="TR">TR</option>
                  <option value="FR">FR</option>
                  <option value="EN">EN</option>
                </select>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                  <input class="form-control" name="Kullanici" ng-model="Kullanici" id="Kullanici" />
                  <label class="floating-label" langu>Kullanıcı</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input required type="password" class="form-control" name="password" ng-model="Password" id="Password" />
                <label class="floating-label" langu>Şifre</label>
              </div>
              <div class="form-group clearfix">
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary btn-block btn-lg mt-40" ng-click="BtnEntry()" langu>Giriş</button>
                  </div>
                  <div class="col-6">
                    <button type="submit" class="btn btn-danger btn-block btn-lg mt-40" onclick="window.close();" langu>Çıkış</button>
                  </div>
                </div>                
              </div>
            </form>
          </div>           
        </div>  
        <div class="row"> 
          <div class="col-12">
            <div class="row py-1">
              <div class="col-lg-1 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('1')">1</button>
              </div>
              <div class="col-lg-1 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('2')">2</button>
              </div>
              <div class="col-lg-1 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('3')">3</button>
              </div>
              <div class="col-lg-1 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('4')">4</button>
              </div>
              <div class="col-lg-1 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('5')">5</button>
              </div>
              <div class="col-lg-1 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('6')">6</button>
              </div>
              <div class="col-lg-1 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('7')">7</button>
              </div>
              <div class="col-lg-1 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('8')">8</button>
              </div>
              <div class="col-lg-1 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('9')">9</button>
              </div>
              <div class="col-lg-1 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('0')">0</button>
              </div>
              <div class="col-lg-2 px-1">
                  <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnSilClick()">Backspace</button>
              </div>
            </div>
            <div class="row py-1">
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('Q')">Q</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('W')">W</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('E')">E</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('R')">R</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('T')">T</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('Y')">Y</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('U')">U</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('I')">I</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('O')">O</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('P')">P</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('Ü')">Ü</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('.')">.</button>
                </div>
            </div>
            <div class="row py-1">
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('A')">A</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('S')">S</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('D')">D</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('F')">F</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('G')">G</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('H')">H</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('J')">J</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('K')">K</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('L')">L</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('Ş')">Ş</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('İ')">İ</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('-')">-</button>
                </div>
            </div>
            <div class="row py-1">
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('Z')">Z</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('X')">X</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('C')">C</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('V')">V</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('B')">B</button>
                </div>
                <div class="col-lg-2 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick(' ')">SPACE</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('N')">N</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('M')">M</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('Ö')">Ö</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick('Ç')">Ç</button>
                </div>
                <div class="col-lg-1 px-1">
                    <button type="button" class="btn btn-primary btn btn-secondary btn-block btn-lg" ng-click="BtnTusClick(',')">,</button>
                </div>
            </div>
          </div>
        </div>      
      </div>          
      <footer class=" page-copyright-inverse " style="text-align: center;">
            <div class="social">
              <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-twitter" aria-hidden="true"></i>
            </a>
              <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-facebook" aria-hidden="true"></i>
            </a>
              <a class="btn btn-icon btn-pure" href="javascript:void(0)">
              <i class="icon bd-google-plus" aria-hidden="true"></i>
            </a>
            </div>
      </footer>
    </div>
    <!-- End Page -->
    <script>
      if (typeof module === 'object') {window.module = module; module = undefined;}      
    </script>

    <!-- Core  -->
    <script src="theme/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="theme/global/vendor/jquery/jquery.js"></script>
    <script>if (window.module) module = window.module;</script>
    <script src="theme/global/vendor/popper-js/umd/popper.min.js"></script>
    <script src="theme/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="theme/global/vendor/animsition/animsition.js"></script>
    <script src="theme/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="theme/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="theme/global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="theme/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <!-- Plugins -->
    <script src="theme/global/vendor/switchery/switchery.js"></script>
    <script src="theme/global/vendor/alertify/alertify.js"></script>

    <!-- Scripts -->
    <script src="theme/global/js/Component.js"></script>
    <script src="theme/global/js/Plugin.js"></script>
    <script src="theme/global/js/Base.js"></script>
    <script src="theme/global/js/Config.js"></script>

    <script src="theme/base/assets/js/Section/Menubar.js"></script>
    <script src="theme/base/assets/js/Section/GridMenu.js"></script>
    <script src="theme/base/assets/js/Section/Sidebar.js"></script>
    <script src="theme/base/assets/js/Section/PageAside.js"></script>
    <script src="theme/base/assets/js/Plugin/menu.js"></script>

    <script src="theme/global/js/config/colors.js"></script>
    <script src="theme/base/assets/js/config/tour.js"></script>
    <script>Config.set('assets', 'theme/base/assets');</script>

    <!-- Page -->
    <script src="theme/base/assets/js/Site.js"></script>
    <script src="theme/global/js/Plugin/asscrollable.js"></script>
    <script src="theme/global/js/Plugin/slidepanel.js"></script>
    <script src="theme/global/js/Plugin/switchery.js"></script>
    <script src="theme/global/js/Plugin/select2.js"></script>
    <script src="theme/global/js/Plugin/bootstrap-tokenfield.js"></script>
    <script src="theme/global/js/Plugin/bootstrap-tagsinput.js"></script>
    <script src="theme/global/js/Plugin/bootstrap-select.js"></script>
    <script src="theme/global/js/Plugin/icheck.js"></script>
    <script src="theme/global/js/Plugin/switchery.js"></script>
    <script src="theme/global/js/Plugin/asrange.js"></script>
    <script src="theme/global/js/Plugin/ionrangeslider.js"></script>
    <script src="theme/global/js/Plugin/asspinner.js"></script>
    <script src="theme/global/js/Plugin/clockpicker.js"></script>
    <script src="theme/global/js/Plugin/ascolorpicker.js"></script>
    <script src="theme/global/js/Plugin/bootstrap-maxlength.js"></script>
    <script src="theme/global/js/Plugin/jquery-knob.js"></script>
    <script src="theme/global/js/Plugin/bootstrap-touchspin.js"></script>
    <script src="theme/global/js/Plugin/card.js"></script>
    <script src="theme/global/js/Plugin/jquery-labelauty.js"></script>
    <script src="theme/global/js/Plugin/bootstrap-datepicker.js"></script>
    <script src="theme/global/js/Plugin/jt-timepicker.js"></script>
    <script src="theme/global/js/Plugin/datepair.js"></script>
    <script src="theme/global/js/Plugin/jquery-strength.js"></script>
    <script src="theme/global/js/Plugin/multi-select.js"></script>
    <script src="theme/global/js/Plugin/jquery-placeholder.js"></script>
    <script src="theme/global/js/Plugin/alertify.js"></script>
    <script src="theme/base/assets/examples/js/forms/advanced.js"></script>

    <!-- Nitro -->    
    <script src="../js/angular.js"></script>
    <script src="../js/angular-route.js"></script>
    <script src="../js/socket.io.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/moment-with-locales.min.js"></script>
    <script src="lib/i18n/18n.js"></script>
    <script src="lib/i18n/lang.js"></script>

    <script src="../js/DbService.js"></script>
    <script src="../js/Directive.js"></script>
    <script src="../js/CardPayment.js"></script>
    <script src="../js/MettlerScale.js"></script>

    <script src="lib/ctrl/Login.js"></script>
    <script src="lib/ctrl/Main.js"></script>
    <script src="lib/ctrl/ayarlar/KullaniciParametreCtrl.js"></script>
    <script src="lib/ctrl/ayarlar/CihazParametreCtrl.js"></script>
    <script src="lib/ctrl/StokCtrl.js"></script>
    <script src="lib/ctrl/CariCtrl.js"></script>
    <script src="lib/ctrl/CariListeCtrl.js"></script>
    <script src="lib/ctrl/OzelEtiketCtrl.js"></script>
    <script src="lib/ctrl/SatisFisListesiCtrl.js"></script>
    <script src="lib/ctrl/DegismisFisListesiCtrl.js"></script>
    <script src="lib/ctrl/MusteriPuanListesiCtrl.js"></script>
    <script src="lib/ctrl/EtiketBasimCtrl.js"></script>
    <script src="lib/ctrl/FiyatListeYonetimiCtrl.js"></script>
    <script src="lib/ctrl/PosSatisRaporCtrl.js"></script>
    <script src="lib/ctrl/TopluTicketGirisCtrl.js"></script>
    <script src="lib/ctrl/TopluTicketListesiCtrl.js"></script>
    <script src="lib/QuerySql.js"></script>
    
    <script src="lib/App.js"></script>
    <script src="lib/Controller.js"></script>
    <script src="lib/Param.js"></script>

    <script src="theme/dx/dx.all.js"></script>
  </body>
</html>
