<div class="col-12" ng-controller="SatisFisListesiCtrl" ng-init="Init()">
    <div class="col-12">
        <div class="tab-content">
            <div id="TbMain" class="tab-pane active">
                <div class="page-header">
                    <h1 class="page-title" langu>SATIŞ FİŞ LİSTESİ</h1>
                    <div class="page-header-actions">
                    </div>
                </div>   
                <div class="panel">
                    <div class="panel-body container-fluid">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">
                                        <div class="float-right" langu>İlk Tarih :</div>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-group input-group-icon">
                                            <input type="text" class="form-control" id="IlkTarih" type="text" ng-model="IlkTarih" data-provide="datepicker"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">
                                        <div class="float-right" langu>Son Tarih :</div>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-group input-group-icon">
                                            <input type="text" class="form-control" id="SonTarih" type="text" ng-model="SonTarih" data-provide="datepicker"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">
                                        <div class="float-right" langu>Müşteri :</div>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="name" autocomplete="off" ng-model="Musteri" />
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-primary btn-custom" ng-click="BtnMusteriSecim()">
                                                    <i class="icon wb-search" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">
                                        <div class="float-right" langu>Kasa No :</div>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="name" autocomplete="off" ng-model="KasaNo"/>
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-primary btn-custom" ng-click="BtnKasaSecim()">
                                                    <i class="icon wb-search" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">
                                        <div class="float-right" langu>Fiş No :</div>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="name" autocomplete="off" ng-model="FisNo"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">
                                        <div class="float-right" langu>Fiş Tutarı :</div>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="name" autocomplete="off" ng-model="FisTutar"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">
                                        <div class="float-right" langu>Ödeme Tipi :</div>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="OdemeTipi">
                                                <option value="-1" langu>Tümü</option> 
                                                <option value="0">Espece</option>                  
                                                <option value="1">Carte Bancaire TPE</option>  
                                                <option value="2">Cheque</option>  
                                                <option value="3">CHEQue</option>  
                                                <option value="4">Bon D''Avoir</option>  
                                            </select>  
                                        </div>                            
                                    </div>
                                </div>    
                            </div>
                            <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">
                                        <div class="float-right" langu>Kasiyer No :</div>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="name" autocomplete="off" ng-model="KasiyerNo"/>
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-primary btn-custom" ng-click="BtnKasiyerSecim()">
                                                    <i class="icon wb-search" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">
                                        <div class="float-right" langu>Fiş Tipi :</div>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="FisTipi" ng-change="CmbFisTipChange()">
                                                <option value="0" langu>Tümü</option>                                
                                                <option value="1" langu>Yüzde İndirimli</option>                                
                                                <option value="2" langu>Puan İndirimli</option>                                
                                            </select>  
                                        </div>                            
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="form-control-lg btn-raised btn btn-primary btn-block font-size-20" type="button" ng-click="BtnSatisFisListeGetir()">
                                    <i class="icon wb-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="TblSatisFisListesi"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="TbDetay" class="tab-pane">
                <div class="page-header">
                    <h1 class="page-title" langu>SATIŞ FİŞ DETAYI</h1>
                    <div class="page-header-actions">
                        <button type="button" class="btn btn-sm btn-icon btn-round btn-primary" style="width: 50px;height: 50px;" data-toggle="tooltip" ng-click="BtnSonTahKaydet()">
                            <i class="icon fa-floppy-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-icon btn-round btn-danger" style="width: 50px;height: 50px;" data-toggle="tooltip" onclick="$('#TbMain').addClass('active');$('#TbDetay').removeClass('active');">
                            <i class="icon fa-close" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>   
                <div class="panel">
                    <div class="panel-body container-fluid">
                        <div class="row">
                            <div class="col-8">
                                <div id="TblSatisFisDetay"></div>
                            </div>
                            <div class="col-4">
                                <div id="TblSatisFisTahDetay"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- MODALLAR -->
    <!-- Cari Seçim Modal -->
    <div class="modal fade" id="MdlMusteriSecim" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-center modal-primary">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title" langu>Cari Seçim</h4>
                </div>
                <div class="modal-body px-3 py-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="TblMusteriSecim" class="jsgrid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kasa Seçim Modal -->
    <div class="modal fade" id="MdlKasaSecim" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-center modal-primary">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title" langu>Kasa Seçim</h4>
                </div>
                <div class="modal-body px-3 py-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="TblKasaSecim" class="jsgrid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kasiyer Seçim Modal -->
    <div class="modal fade" id="MdlKasiyerSecim" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-center modal-primary">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title" langu>Kasiyer Seçim</h4>
                </div>
                <div class="modal-body px-3 py-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="TblKasiyerSecim" class="jsgrid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Satış Fiş Tahsilat Güncelle-->
    <div class="modal fade " id="MdlSatisFisTahGuncelle" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-md modal-primary modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title" langu>Tahsilat</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2 py-10">
                            <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" role="group">
                                <label id="ChkNakit" class="btn btn-outline btn-primary" ng-click="BtnTahTip(0)">
                                    <input type="radio" autocomplete="off"/>
                                    <i class="icon fa-money" aria-hidden="true" style="font-size: 23px;"></i>
                                    &nbsp;ESP
                                </label>
                                <label id="ChkKredi" class="btn btn-outline btn-primary" ng-click="BtnTahTip(1)">
                                    <input type="radio" autocomplete="off"/>
                                    <i class="icon fa-credit-card" aria-hidden="true" style="font-size: 23px;"></i>
                                    &nbsp;CB
                                </label>
                                <label id="ChkCek" class="btn btn-outline btn-primary" ng-click="BtnTahTip(2)">
                                    <input type="radio" autocomplete="off"/>
                                    <i class="icon fa-list-alt" aria-hidden="true" style="font-size: 23px;"></i>
                                    &nbsp;Chq
                                </label>
                                <label id="ChkTr" class="btn btn-outline btn-primary" ng-click="BtnTahTip(3)">
                                    <input type="radio" autocomplete="off"/>
                                    <i class="icon fa-list-alt" aria-hidden="true" style="font-size: 23px;"></i>
                                    &nbsp;CHQe
                                </label>
                            </div>
                        </div>
                        <div class="col-10 py-10">
                            <div id="TblSatisFisTahDetay"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center" style="margin: 0px;"><span style="color:dodgerblue;">{{TahDetayKalan | number:2}}</span></h3>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" ng-model="TxtSonTahGuncelle" id="TxtSonTahGuncelle" autocomplete="off">
                        </div>                        
                    </div>                    
                    <div class="row">
                        <div class="col-12">
                            <h6><span style="color:dodgerblue;">La modification de ticket doit rester exceptionnelle et permetter de corriger les erreurs ! <br>
                            Un historique des modifications est enregistre !<br><br><br>
                            Veuillez preciser le motif de cette modification : <br>
                            </span></h6>
                        </div>
                    </div>
                    <div class="row">                                            
                        <div class="col-12">
                            <textarea class="form-control" id="textareaDefault" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 100px;" ng-model="TxtAciklama"></textarea>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class = "row py-1">
                                <div class = "col-lg-4">
                                    <button type="text" class="form-control btn-danger btn btn-block font-size-24" style="height:60px;" ng-click="BtnSonTahTip(0)"><i class="fa-eraser fa-lg"></i></button>
                                </div>
                                <div class = "col-lg-4">
                                    <button type="text" class="form-control btn-success btn btn-block font-size-24" style="height:60px;" ng-click="BtnSonTahTip(1)"><i class="fas fa-check fa-lg"></i></button>
                                </div>
                                <div class = "col-lg-4">
                                    <button type="text" class="form-control btn-danger btn btn-block font-size-24" style="height:60px;" ng-click="BtnSonTahTip(2)"><i class="icon fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div>      
        </div>              
    </div>
</div>
<script>
    $("#IlkTarih").datepicker(
    {
        language: "fr"
    });
    $("#SonTarih").datepicker(
    {
        language: "fr"
    }); 
    
</script>