<style>
    .rowheight
    {
        font-size: 12
        421px;    
    }
    .modal.fade 
    {
        z-index: 1500 !important;
    }
    .modal-backdrop
    {
        z-index: 1499 !important;
    }
</style>
<div class="col px-0" ng-controller="TedarikciGorCtrl" ng-init="Init()">
    <div class="panel panel-bordered">
        <div class="panel-body py-1">
            <div class="tab-content">
                <div id="TbMain" class="tab-pane active">
                    <!-- <div class="row pb-20">
                        <div class="col-7">
                            <label class="h7 mt-10"langu>Ürün Grubu Güncelleme :</label><label>{{UrunGrup.Status == true ?  "Actif - " + UrunGrup.Name : "Passif"}}</label>
                        </div>
                        <div class="col-5 px-1">
                            <button type="button" class="btn btn-primary btn-block dropdown-toggle px-0" id="DrpwSiparis" data-toggle="dropdown" aria-expanded="false"langu>İşlemler</button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="orderdropdownanimation" role="menu" x-placement="bottom-start">
                                <button class="dropdown-item" href="#" role="menu-item" ng-click="BtnUrunGrupDegis()" style="font-size: 1rem;"langu>Ürün Grubu Değiştir</button>
                            </div>
                        </div>
                    </div> -->
                    <div class="row my-0 py-0 pb-10">
                        <div class="col-md-1 col-lg-1 col-sm-3 text-info px-2"><div class="col-form-label float-right py-2"langu>Barkod :</div></div>
                        <div class="col-md-11 col-lg-11 col-sm-9 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="Barkod" ng-keypress ="BtnStokBarkodGetir($event)" id="Barkod">
                                <span class="input-group-append">
                                <button type="submit" class="btn btn-primary" ng-click="Init()"><i class="fas fa-backspace fa-lg"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-5 px-1">
                            <button type="submit" ng-click="ManuelAramaClick()" class="btn btn-primary btn-block h-40"langu>Manuel Arama</button>        
                        </div>
                        <div class="col-2 px-1">
                            <button type="submit" class="btn btn-primary btn-block h-40" ng-click="ScanBarkod()"><i class="fas fa-camera-retro fa-lg"></i></button>        
                        </div>
                        <div class="col-5 px-1">
                            <button type="submit" class="btn btn-primary btn-block h-40" ng-click="BtnStokBarkodGetir()"langu>Getir</button>        
                        </div>
                    </div>
                    <div class="row pt-5 pb-20">
                        <div class="col-lg-12" style="display: inline; text-align: center; overflow: hidden;">  
                            <label class="mb-0 h7 text-primary ng-binding">{{Kodu}}</label>
                            <label class="mb-0 h6 text-primary ng-binding">{{Adi}}</label>
                        </div>
                    </div>
                    <div class="row pt-5 pb-20">
                        <div class="col-lg-12" style="display: inline; text-align: center; overflow: hidden;">  
                            <label class="mb-0 h7 text-primary ng-binding">{{Birim}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-0"><h3 class="form-control-label pl-10 text-center">{{Tedarikci}}</h3></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="TblTedarikci"></div>
                        </div>
                    </div>
                    <!-- <div class="row pt-50">
                        <div class="col-6 px-1">
                            <button type="button" class="btn btn-block btn-primary h-40" ng-click="BtnFiyatEkle()"langu>Fiyat Ekle</button>
                        </div>
                        <div class="col-6 px-1">
                            <button type="button" class="btn btn-block btn-primary h-40" ng-click="BtnFiyatGuncelle()"langu>Fiyat Değiştir</button>
                        </div>
                    </div> -->
                </div>
                <div id="TbStok" class="tab-pane">
                    <div class="row py-1">
                        <div class="col-4 px-1">
                            <button class="form-group btn btn-block btn-primary mb-1 h-40" ng-click="MainClick()"><i class="icon wb-arrow-left" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="form-group row my-1">
                        <div class="col-4 px-1">
                            <select class="form-control" ng-model="StokGridTip">
                                <option value="0"langu>ADI</option>
                                <option value="1"langu>KODU</option>
                            </select>
                        </div>
                        <div class="col-8 px-1">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-keypress = "BtnManuelArama($event)"  ng-model="StokGridText" id="StokGridText">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary" ng-click="BtnStokGridGetir()"><i class="icon wb-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 offset-5" ng-show="Loading" >
                            <div class="loader vertical-align-middle loader-circle"></div>
                        </div>
                    <div class="row py-1 px-1" ng-show="TblLoading">           
                        <div class="table-responsive">
                        <div class="table" id="TblStok"></div>                        
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
</div>
<script>
    $("#IlkTarih").datepicker({
    language: "tr"
    });
    $("#SonTarih").datepicker({
    language: "tr"
    });
</script>