<div class="col-12" ng-controller="PluTanitimCtrl" ng-init="Yeni()">
    <div class="panel">
        <div class="panel-body">
            <div class="row pb-10">
                <div class="col-12">
                    <div class="row">
                        <div class="col-2"><div class="col-form-label float-right">Stok Kodu :</div></div>
                        <div class="col-4">
                            <div class="row">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="Kodu" ng-keypress = "BtnPluGetir($event)" ng-disabled = "PluLock">
                                    <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary" ng-click="BtnPluAra()" data-target="#MdlPluAra" data-toggle="modal"><i class="icon wb-search" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-10">
                <div class="col-12">
                    <div class="row">
                        <div class="col-2"><div class="col-form-label float-right">Plu Adı :</div></div>
                        <div class="col-6">
                            <div class="row">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="PluAdi">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-10">
                <div class="col-12">
                    <div class="row">
                        <div class="col-2"><div class="col-form-label float-right">Stok Adı :</div></div>
                        <div class="col-6">
                            <div class="row">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="StokAdi" ng-disabled = "PluLock">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-10">
                <div class="col-12">
                    <div class="row">
                        <div class="col-2"><div class="col-form-label float-right">Grup :</div></div>
                        <div class="col-3">
                            <div class="row">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="Grup">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-10">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4"><button type="submit" class="btn btn-primary btn-block btn-sm" ng-click="Yeni()">Yeni</button></div>
                        <div class="col-4"><button type="submit" class="btn btn-primary btn-block btn-sm" ng-click="Kaydet()">Kaydet</button></div>
                        <div class="col-4"><button type="submit" class="btn btn-primary btn-block btn-sm" ng-click="PluDelete()">Sil</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Stok Liste Modal Başlangıç -->
    <div class="modal fade" id="MdlPluAra" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-center modal-primary  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Plu Listesi</h4>
                </div>
                <div class="modal-body">
                    <div class="panel mb-0">
                        <div class="row py-10">
                            <div class="col-lg-4 col-md-4 col-sm-4 offset-0">
                                <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="StokGridTip">
                                <option value="0" selected="selected">KODU</option>
                                <option value="1">ADI</option>
                                </select>
                            </div>
                            <div class="col-lg-8 col-sm-8 col-md-8">
                                <input type="text" class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-empty" ng-model="StokGridText">
                            </div>
                        </div> 
                        <div class="row">
                            <div class="form-group row col-lg-12 my-0 ml-5">
                                <div class="col-lg-6 col-sm-6 col-lg-6">
                                    <button class="btn btn-block btn-primary" ng-click="BtnPluSec()">Seç</button>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-lg-6">
                                    <button class="btn btn-block btn-primary" ng-click="BtnPluTanimListeGetir()">Plu Listele</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body px-0 pb-0">
                            <div id="TblPlu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    