<div class="col-12" ng-controller="SatisAktarimCtrl" ng-init="Init()">
    <div class="panel">
        <div class="panel-body">
        <div class="row">
            <div class="col-6">            
                <div class="row">
                    <div class="col-3"><div class="col-form-label float-right">İlk Tarih :</div></div>
                    <div class="col-3">
                        <div class="row">
                            <div class="input-group">
                                <input id="IlkTarih" type="text" class="form-control form-control-sm ng-valid ng-dirty ng-touched ng-empty" ng-model="IlkTarih" data-provide="datepicker" data-plugin="datepicker" ng-disabled="FormLock">
                                <div class="input-group-append">
                                <button type="button" class="btn btn-block form-control-sm wb-calendar "></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">            
                <div class="row">
                    <div class="col-3"><div class="col-form-label float-right">Son Tarih :</div></div>
                    <div class="col-3">
                        <div class="row">
                            <div class="input-group">
                                <input id="SonTarih" type="text" class="form-control form-control-sm ng-valid ng-dirty ng-touched ng-empty" ng-model="SonTarih" data-provide="datepicker" data-plugin="datepicker" ng-disabled="FormLock">
                                <div class="input-group-append">
                                <button type="button" class="btn btn-block form-control-sm wb-calendar "></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-3"><div class="col-form-label float-right">Şube :</div></div>
                    <select class="form-control col-3" ng-model="Sube" ng-disabled="SubeLock">
                        <option value="">Tümü</option>
                        <option ng-repeat="option in SubeListe" value="{{option.KODU}}">{{option.ADI}}</option>
                    </select>                    
                </div>                
            </div>
            <div class="col-6"><h5>{{StatusTitle}}</h2></div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block btn-sm" ng-click="BtnAktar()" ng-disabled="FormLock">Satışları Aktar</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block btn-sm" ng-click="BtnGetir()" ng-disabled="FormLock">Getir</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 py-10">
                <div id="TblIslem"></div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    $("#IlkTarih").datepicker({
    language: "tr"
    });
    $("#SonTarih").datepicker({
    language: "tr"
    });
</script>