<div class="col-12">
    <div class="panel">
        <div class="panel-body" ng-controller="RptMagazaCiroCtrl" ng-init="Init()">
            <div class="row py-10">
                    <div class="col-sm-4 col-md-1 text-primary px-1"><div class="col-form-label px-1 float-left  py-2">İlk Tarih:</div></div>
                    <div class="col-sm-8 col-md-4 px-1">
                        <div class="input-group input-group-icon">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="icon wb-calendar" aria-hidden="true"></span>
                                </div>
                            </div>
                            <input type="text" class="form-control" id="IlkTarih" type="text" ng-model="IlkTarih" data-provide="datepicker" ng-disabled="EvrakLock">
                        </div>
                    </div>
            </div>
            <div class="row py-10">
                <div class="col-sm-4 col-md-1 text-primary px-1"><div class="col-form-label px-1 float-left  py-2">Son Tarih:</div></div>
                <div class="col-sm-8 col-md-4 px-1">
                    <div class="input-group input-group-icon">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="icon wb-calendar" aria-hidden="true"></span>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="SonTarih" type="text" ng-model="SonTarih" data-provide="datepicker" ng-disabled="EvrakLock">
                    </div>
                </div>
            </div> 
            <div class="row py-10">
                <div class="col-sm-4 col-md-1 text-primary px-1"><div class="col-form-label px-1 float-left  py-2">Şube:</div></div>
                <select class="form-control col-sm-8 col-md-4" ng-model="Sube" ng-disabled="SubeLock">
                    <option value="">Tümü</option>
                    <option ng-repeat="option in SubeListe" value="{{option.KODU}}">{{option.ADI}}</option>
                </select>
            </div>
            <!-- <div class="row">
                <div class="col-6">            
                    <div class="row">
                        <div class="col-3"><div class="col-form-label float-right">İlk Tarih :</div></div>
                        <div class="col-4">
                            <div class="row">
                                <div class="input-group">
                                    <input id="IlkTarih" type="text" class="form-control form-control-sm ng-valid ng-dirty ng-touched ng-empty" ng-model="IlkTarih" data-provide="datepicker" data-plugin="datepicker">
                                    <div class="input-group-append">
                                    <button type="button" class="btn btn-block form-control-sm wb-calendar "></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">            
                    <div class="row">
                        <div class="col-3"><div class="col-form-label float-right">Son Tarih :</div></div>
                        <div class="col-4">
                            <div class="row">
                                <div class="input-group">
                                    <input id="SonTarih" type="text" class="form-control form-control-sm ng-valid ng-dirty ng-touched ng-empty" ng-model="SonTarih" data-provide="datepicker" data-plugin="datepicker">
                                    <div class="input-group-append">
                                    <button type="button" class="btn btn-block form-control-sm wb-calendar "></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <div class="col-3"><div class="col-form-label float-right">Şube :</div></div>
                        <select class="form-control col-4" ng-model="Sube">
                            <option ng-repeat="option in SubeListe" value="{{option.KODU}}">{{option.ADI}}</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block btn-sm" ng-click="BtnGetir()">Getir</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 py-10">
                    <div id="TblIslem"></div>
                </div>
            </div>
            <div class="row px-20">
                <div class="col-12">
                    <div class="row">
                        <label class="form-control-label col-9 text-primary"><div class="float-right">Ara Toplam :</div></label>
                        <label class="form-control-label col-3"><div class="float-right">{{AraToplam | number:2}}</div></label>
                    </div>
                    <div class="row">
                        <label class="form-control-label col-9 text-primary"><div class="float-right">Toplam İndirim :</div></label>
                        <label class="form-control-label col-3"> <div class="float-right">{{ToplamIndirim | number:2}}</div></label>
                    </div>
                    <div class="row">
                        <label class="form-control-label col-9 text-primary"><div class="float-right">Genel Toplam :</div></label>
                        <label class="form-control-label col-3"> <div class="float-right">{{GenelToplam | number:2}}</div></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#IlkTarih").datepicker({
    language: "tr"
    });
    $("#SonTarih").datepicker({
    language: "tr"
    });
</script>